h1{
            text-shadow: 1px 2px red;
            color: aqua;
        }
h1:hover{
    text-shadow: 1px 2px blue;
}    
.about-img img{
    width: 300px;
    border-radius: 50%;
}
.about-header div{
    /* justify-content: space-around; */
    margin: 40px;
}
.paragraph{
    word-spacing: 10px;
    font-weight: 300px;
    padding: 20px;
    text-align: center;
    font-size: 16px;
} 
.about-header{
    display: flex;
    justify-content: space-between;

}
@media (max-width:430px){
    .about_section{
        display:block;
    }
}